.large-icon{
    font-size: 20px;
}
.my-icon:hover{
    color: blue;

}
.mat-toolbar {
    height: 100px;
    min-height: 100px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .example-full-width {
    width: 100%;
  }
 .Marksheet-table{
    margin-top: 50px;
 }
 .demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  .header{
    color: white;
    background-color: #272654;
  }