ng-container{
    padding: auto;
}
.custom-card {
    border: 1px solid #180a6c; 
}
.header{
     
    background-color: #0b095b;
    color: white;
}
.card{
    margin-top: 20px;
  
}
.pro-icon{
     margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
}