<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-between center"
        fxLayoutAlign.xs="space-between center">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="start center" fxLayoutAlign.xs="start start">
            <button class="title" mat-flat-button color="primary"><img src="../assets/SurveyTool-Logo.png"
                    alt="Qualfon Logo"><span class="home">Admin</span></button>
            <div fxHide.xs="true">
                <button mat-flat-button color="primary">Home</button>
                <button mat-flat-button color="primary">Contact us</button>
                <button mat-flat-button color="primary">About</button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="row" fxLayoutAlign.xs="end center">
            <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.gt-xs="true"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="GotoTamplete()">Marksheet Tamplete</button>
                <button mat-menu-item (click)="IdCardTamplete()">ID Card Tamplete</button>
                <button mat-menu-item>student result</button>
                <button mat-menu-item>Home</button>
                <button mat-menu-item>Contact us</button>
                <button mat-menu-item>About</button>
            </mat-menu>
            <span fxHide.xs="true"><mat-icon>description</mat-icon>Marksheet</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize class="sidebar">
    <mat-sidenav fxFlex="40%" [opened]="true" mode="side" fxHide.xs="true">
        <mat-nav-list fxLayout.xs="row">
            <button mat-menu-item (click)="GotoTamplete()">Marksheet Tamplete</button>
            <button mat-menu-item (click)="IdCardTamplete()">ID Card Tamplete</button>
            <button mat-menu-item>student result</button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="no-scrollbar" fxFlex>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>