<form class="example-form" [formGroup]="SubjectForm" class="Student-form" (ngSubmit)="onSubmit()">
    <h1 class="header" fxLayoutAlign="center center">
        Add Subject
    </h1>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px grid"
        fxLayoutAlign.xs="center start">
        <mat-form-field fxFlex="50%" fxFlex.xs="100" class="example-full-width" appearance="outline">
            <mat-label>Enter subject-Code </mat-label>
            <input matInput placeholder="Enter subject-Code here" formControlName="subjectCode" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field fxFlex="50%" fxFlex.xs="100" class="example-full-width" appearance="outline">
            <mat-label>Enter subject Name </mat-label>
            <input matInput placeholder="Enter subject-Name here" formControlName="subjectName" [readonly]="isReadonly">
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px grid"
        fxLayoutAlign.xs="center start">

        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50%" fxFlex.xs="100%">
            <mat-label>Enter Total-Mark</mat-label>
            <input matInput placeholder="Enter total mark here " formControlName="totalmark" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50%" fxFlex.xs="100%">
            <mat-label>Enter Earn-Marks</mat-label>
            <input matInput placeholder="Enter Earn-Marks " formControlName="earnMarks" [readonly]="isReadonly">
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px grid"
        fxLayoutAlign.xs="center start">
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50%" fxFlex.xs="100%">
            <mat-label>Student Result</mat-label>
            <mat-select formControlName="grade">
                <!-- @if (!isReadonly) { -->
                <mat-option value="Pass">A+</mat-option>
                <mat-option value="Fail">A</mat-option>
                <mat-option value="Back">B+</mat-option>
                <mat-option value="Back">B</mat-option>
                <mat-option value="Back">C</mat-option>
                <mat-option value="Back">D</mat-option>
                <!-- } -->
            </mat-select>
        </mat-form-field>
        <mat-checkbox fxFlex="50" fxFlex.xs="100%" class="example-margin" required>Check me!</mat-checkbox>

    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px grid"
        fxLayoutAlign.xs="center start">

        <mat-expansion-panel class="expansion" fxFlex="100%" fxFlex.xs="100%" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
                <mat-panel-title color="primary" fxFlex="100">
                    Please Ready Term & Condition
                </mat-panel-title>
                <mat-panel-description fxFlex="100" fxLayoutAlign="center center">
                    click here
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Acceptance of Terms: By enrolling, the student agrees to abide by these Terms and Conditions, as well as
                any additional rules or policies set by the institution.
                Eligibility: The student confirms that they meet any age, academic, or other eligibility requirements.
            </p>
        </mat-expansion-panel>
    </div>



    <div class="btn" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px"
        fxLayoutAlign.xs="center center">
        <!-- @if () {
        <button type="submit" mat-raised-button color="primary"><mat-icon>create</mat-icon> Update MarkSheet</button>

        }
        @else if (!isReadonly) { -->
        <button type="submit" mat-raised-button color="primary"><mat-icon>create</mat-icon> Add Subject</button>
        <button type="reset" mat-raised-button color="warn"><mat-icon>cached</mat-icon>Reset</button>
        <!-- } @else {
        <button mat-raised-button color="warn" (click)="close()"><mat-icon>close</mat-icon>Close</button>
        } -->
    </div>


</form>