<div fxLayout="row" class="footer">
    <!-- Logo and Company Name -->
    <div class="logo">
        <img src="../../../../assets/SurveyTool-Logo.png" alt="Qualfon Logo">
        <span>Qualfon Advance Center Pvt Ltd India</span>
    </div>

    <!-- Links or Other Footer Content (50% width) -->
    <div fxFlex="50%">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <!-- Add more links or content here -->
    </div>

    <!-- Copyright Notice (50% width) -->
    <div fxFlex="50%" class="copyright">
        © 2023 My Company. All rights reserved.
    </div>
</div>